<div class="contact-form">
					     <form method="post" action="contact-post.html" class="left_form">
					    	<div>
						    	<span><label>Nombre</label></span>
						    	<span><input name="userName" type="text" class="textbox"  required></span>
						    </div>
						    <div>
						    	<span><label>Correo Electrónico</label></span>
						    	<span><input name="userEmail" type="text" class="textbox"  required></span>
						    </div>
					    </form>
					    <form class="right_form">
					        <div>					    	
						    	<span><label>Mensaje</label></span>
						    	<span><textarea name="userMsg"  required> </textarea></span>
						    </div>
						   <div>
						   		<span><input type="submit" value="Enviar" class="myButton"></span>
						  </div>
					    </form>
					    <div class="clear"></div>
				  </div>